@page
@using Scroll.Service.Services
@model Scroll.Web.Areas.Admin.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}

<div class="clearfix w-100">
    <div class="display-4 mb-3 float-start" style="margin-bottom: 10rem;">
        <a class="text-decoration-none text-black"
           asp-area="Admin"
           asp-page="/Products/Index">
            @ViewData["Title"]
        </a>
    </div>

    <div class="float-end">
        <a class="btn btn-outline-primary"
           asp-page="./CreateOrEdit">
            New
        </a>
    </div>
</div>

@if (Model?.Products?.Count is not > 0)
{
    <partial name="_LonelyHere" />
}
else
{
    <form asp-page="./Index"
            method="get"
            class="vstack gap-1">

        <div class="row">
            <input asp-for="@Model.PageSize"
                    name="pageSize"
                    value="@Model.PageSize"
                    hidden />

            <input asp-for="@Model.PageIndex"
                    name="pageIndex"
                    value="0"
                    hidden />

            <div class="col-sm-12 col-md-3 mb-1">
                <input asp-for="@Model.SearchString"
                        value="@Model.SearchString"
                        type="search"
                        placeholder="Title Filter"
                        class="form-control"
                        aria-label="Title Filter"
                        aria-describedby="searchButton" />
            </div>

            <div class="col-sm-12 col-md-3 mb-1">
                <select class="form-select"
                        asp-for="@Model.CategoryId">
                    <option value="" selected>
                        All Categories
                    </option>

                    @foreach(var category in Model.Categories.Items)
                    {
                        <option value="@category.Id">
                            @category.Name
                        </option>
                    }
                </select>
            </div>

            <div class="col-sm-12 col-md-3 mb-1">
                <select class="form-select"
                        asp-for="@Model.SortBy">

                    <option selected disabled>
                        Sort By
                    </option>

                    @foreach(var sortBy in Enum.GetValues(typeof(ProductSortOrder)).Cast<ProductSortOrder>())
                    {
                        <option value="@sortBy">
                            @sortBy.ToSpaced()
                        </option>
                    }
                </select>
            </div>

            <div class="col-sm-12 col-md-3 mb-1">
                <button class="btn btn-success"
                        type="submit"
                        id="searchButton">
                    Go
                </button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Link</th>
                    <th scope="col">Clicks</th>
                    <th scope="col">Favorites</th>
                    <th scope="col">Categories</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products.Items)
                {
                    <tr>
                        <th scope="row">@product.Title</th>
                        <td>
                            <a href="@product.Link">
                                @product.Link?.CleanLink().Glimpse(15)
                            </a>
                        </td>
                        <td>@product.ClickCount</td>
                        <td>@product.FavoriteCount</td>
                        <td>@product.Categories.Count</td>
                        <td>
                            <a asp-page="./CreateOrEdit"
                               asp-route-id="@product.Id"
                               class="link-primary text-decoration-none">
                                Edit
                            </a>

                            &nbsp;

                            <a href="#delete"
                               class="link-danger text-decoration-none js-delete-action"
                               data-delete-url="@Url.Action("Delete", "Product", new { productId = product.Id })"
                               data-redirect-url="@Url.Page("./Index")">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <partial name="_Pagination" for="@Model.Products" />
}