<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card product-card">
        <img src="@Product.ImageName" class="card-img-top" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">@Product.Title</h5>
            <p class="card-text product-info">@Product.Description</p>
            @* <div class="d-flex flex-wrap mb-2">
                <span class="badge badge-primary mr-2">Category 1</span>
                <span class="badge badge-secondary mr-2">Category 2</span>
            </div> *@
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span class="product-price">$@Product.Price.ToString("0.##")</span>
                    <br />
                    <small class="text-muted"><i class="fas fa-heart"></i> @Product.FavoriteCount Favorites</small>
                </div>
                <a href="@Product.Link" class="btn btn-primary">Check it Out</a>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ProductDto Product { get; set; } = default!;

    public async Task AddToFavorites()
    {
        await Task.Delay(1000);
    }
}