@page

@model Categories.IndexModel
@{
    ViewData["Title"] = "Categories";
}

<div class="display-4 mb-3" style="margin-bottom: 10rem;">
    <a class="text-decoration-none text-black"
        asp-area="Admin"
        asp-page="/Categories/Index">
        @ViewData["Title"]
    </a>
</div>

@if (Model?.Categories?.Count is not > 0)
{
    <partial name="_LonelyHere" />
}
else
{
    <div class="clearfix w-100">
        <div class="float-start">
            <form asp-page="./Index" method="get">
            <input asp-for="@Model.Categories.PageSize"
                   name="pageSize"
                   value="@Model.Categories.PageSize"
                   hidden/>
            <input asp-for="@Model.Categories.PageIndex"
                   name="pageIndex"
                   value="0"
                   hidden/>

            <div class="input-group mb-1">
                <input asp-for="@Model.Filter"
                       name="filter"
                       value="@Model.Filter"
                       type="search"
                       placeholder="Search Categories"
                       class="form-control"
                       aria-label="Search Categories"
                       aria-describedby="searchButton"/>
                <button class="btn btn-outline-secondary"
                        type="submit"
                        id="searchButton">
                    Go
                </button>
            </div>
        </form>
        </div>
        <a class="btn btn-outline-primary float-end"
           asp-page="./CreateOrEdit">
            New
        </a>
    </div>
    <table class="table table-hover table-striped mt-2">
        <thead class="table-dark">
            <tr>
                @*<th scope="col">#</th>*@
                <th scope="col">Name</th>
                <th scope="col" colspan="2">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories.Items)
            {
                <tr>
                    @*<td>@category.Id</td>*@
                    <th scope="row">@category.Name</th>
                    <td colspan="2">@category.Description.Glimpse(30)</td>
                    <td>
                        <a asp-page="./CreateOrEdit"
                           asp-route-id="@category.Id"
                           class="link-primary text-decoration-none">
                            Edit
                        </a>

                        &nbsp;

                        <a href="#delete"
                           class="link-danger text-decoration-none js-delete-action"
                           data-delete-url="@Url.Action("Delete", "Category", new { categoryId = category.Id })"
                           data-redirect-url="@Url.Page("./Index")">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_Pagination" for="@Model.Categories" />
}